/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
   font-family: Helvetica, GillSans, Calibri, Trebuchet, sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-shadowing {
  text-shadow: 1px 1px 1px #000;
}

.title-shadowing {
  font-weight: 500;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
}

.text-with-padding {
  padding-left: 15px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.imgRow {
    height: 200px;
    width: 30%;
}
.imgModal {
    height: 300px;
    width: 500px;
}
.card {
	cursor: pointer;
}
.modalCss {
  width: 75% !important;
  max-height: 100% !important;
}
